PORT=
DB_URI= 

JWT_SECRET=
JWT_EXPIRE=

COOKIE_EXPIRE=


SMPT_SERVICE=

SMPT_MAIL=

SMPT_PASSWORD=
SMPT_HOST=
SMPT_PORT=

EMAIL=
EMAIL_PASSWORD=


CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


STRIPE_SECRET_KEY=
STRIPE_API_KEY=
